/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */

* {
    margin: 0;
	padding: 0;
	box-sizing: border-box; /* para que margin y padding no le sumen dimensión al elemento */
    font-family: "Roboto", sans-serif;
}

/* TIPOGRAFIA BASE */
h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 64px;
    color: #222;
    /* color: red; */
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: black;
    margin: 15px 0 20px 0;
}

body {
    width: 100%;
    /* height: 300vh; ### prueba ### */
}

/* espaciado, se reusa muchas veces: en las secciones donde necesito que tengan estos padding o margins, agrego estas secciones*/
.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 10px 0;
}

/* == header y navegación == */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* agregar 4 valores, me permite marcar cuanto espacio quiero por lado, ej padding  30px 10px 20px 40px; */
    /* funciona también para margin */
    padding: 20px 80px;
    background-color: #e3e606;
    /* === HEADER FIJO EN EL TOP DE LA PÁGINA ===*/
    z-index: 999;
    position: sticky;
    top: 0px;
    left: 0px;
    /* width: 300px;
    height: 300px; */
}

/* ===== esta es la parte del código que maneja el navbar ===== */
.navegacion {
    display: flex;
    align-items: center;
    /*  ## esto funciona pero no es responsive ##
        justify-content: flex-start; ## con 'space-between' me queda  logo a la izq, menú a la der ##
        gap: 30px; ## separación entre logo y menú ##
    */
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 auto 0 0; ## empuja todo el ul a la derecha ##
    padding: 0; */
}

.navbar li{
    list-style: none; /* quitamos los odiosos puntitos que se generan automáticamente con <ul> */
    padding: 0 20px;
}

.navbar a{
    text-decoration: none; /* el subrayado de los enlaces, afuera! */
    font-size: 1rem;
    font-weight: 600;
    color: #1a1a1a;
}

/*  ====== 
pseudo-clase CSS - palabra clave - se añade a un selector - aplica estilos a un elemento solo cuando se encuentra en un estado específico o cumple una condición especial - usa dos puntos (:) seguidos del nombre de la pseudo-clase
======= */

.navbar a:hover{
    color:#c123de;
    font-size: 2rem;
}

/*  ====== botón hamburguesa, visible en desktop, oculto en mobile ====== */

.mobile {
    display: none;
    align-items: center;
}


/* ===== FIN del navbar ===== */



/* == hero! sección principal == */
.hero {
    background-image: url(img/nvgo.jpg);
    height: 55vh;
    width: 100%;
    background-size: cover;
    background-position: top 5% center;
    /* margin: 10px; */
    padding: 0 80px;
    /* margin-top: 10px; */
    margin-bottom: 40px;
}

.hero .hero-content {
    width: 50%;
    z-index: 1;
}

.hero .hero-content h4 {
    color: aqua;
    margin-bottom: 10px;
    font-size: 1rem;
}

.hero .hero-content h2 {
    color: #d706e6; 
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero .hero-content p {
    color: #09d81d; 
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.hero .hero-content button {
	box-shadow:inset -1px -3px 0px 0px #e184f3;
	background:linear-gradient(to bottom, #c123de 5%, #a20dbd 100%);
	background-color:#c123de;
	border-radius:8px;
	border:1px solid #a511c0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 42px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9b14b3;
}

.myButton:hover {
	background:linear-gradient(to bottom, #a20dbd 5%, #c123de 100%);
	background-color:#a20dbd;
}

.myButton:active {
	position:relative;
	top:1px;
}